html,
body {
  background: #f4f4f4;
}
.header {
  background: black;
  color: #ffffff;
  height: 3rem;
  display: flex;
  align-items: center;
}

.header-text {
  margin-left: 1rem;
}

.title {
  background: white;
  height: 9rem;
  display: flex;
  align-items: center;
}

.title-text {
  margin-left: 3rem;
  font-size: 32px;
}
